body {
  background-color: #4a4e69;
}

.freeCodeCamp-logo {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBar {
  background-color: #22223b;
  padding: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  padding: 2rem;
}

.App {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}
